<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Datos seccion de Amenidades
    <small><?php View::content() ?></small>
  </h1>
</section>
<!-- Main content -->
<section class="content">

  <!-- SELECT2 EXAMPLE -->
<form action="" method="post" enctype="multipart/form-data">
  <?php echo Form::hidden('amenities.id') ?>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Información en Español</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Titulo</label>
            <?php echo Form::text('amenities.titulo', array(
              'placeholder'=>"Titulo",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
        </div><!-- /.col -->
        <div class="col-md-12" style="text-align:center;">
          <div class="col-md-3">
            <img src="<?php echo PUBLIC_PATH.'img/iconoa.png' ?>" height="100" style="background-color:#223556;">
            <div class="form-group" style="margin-top: 5px;">
              <?php echo Form::text('amenities.tituloa', array(
                'placeholder'=>"Titulo",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <br>
              <?php echo Form::textarea('amenities.textoa', array(
                'placeholder'=>"Texto",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
            </div><!-- /.form-group -->
          </div>
          <div class="col-md-3">
            <img src="<?php echo PUBLIC_PATH.'img/iconob.png' ?>" height="100" style="background-color:#223556;">
            <div class="form-group" style="margin-top: 5px;">
              <?php echo Form::text('amenities.titulob', array(
                'placeholder'=>"Titulo",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <br>
              <?php echo Form::textarea('amenities.textob', array(
                'placeholder'=>"Texto",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
            </div><!-- /.form-group -->
          </div>
          <div class="col-md-3">
            <img src="<?php echo PUBLIC_PATH.'img/iconoc.png' ?>" height="100" style="background-color:#223556;">
            <div class="form-group" style="margin-top: 5px;">
              <?php echo Form::text('amenities.tituloc', array(
                'placeholder'=>"Titulo",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <br>
              <?php echo Form::textarea('amenities.textoc', array(
                'placeholder'=>"Texto",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
            </div><!-- /.form-group -->
          </div>
          <div class="col-md-3">
            <img src="<?php echo PUBLIC_PATH.'img/iconod.png' ?>" height="100" style="background-color:#223556;">
            <div class="form-group" style="margin-top: 5px;">
              <?php echo Form::text('amenities.titulod', array(
                'placeholder'=>"Titulo",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <br>
              <?php echo Form::textarea('amenities.textod', array(
                'placeholder'=>"Texto",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
            </div><!-- /.form-group -->
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.box-body -->
    <div class="box-header with-border">
      <h3 class="box-title">Información en Ingles</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Titulo</label>
            <?php echo Form::text('amenities.titulo_en', array(
              'placeholder'=>"Titulo",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
        </div><!-- /.col -->
        <div class="col-md-12" style="text-align:center;">
          <div class="col-md-3">
            <img src="<?php echo PUBLIC_PATH.'img/iconoa.png' ?>" height="100" style="background-color:#223556;">
            <div class="form-group" style="margin-top: 5px;">
              <?php echo Form::text('amenities.tituloa_en', array(
                'placeholder'=>"Titulo",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <br>
              <?php echo Form::textarea('amenities.textoa_en', array(
                'placeholder'=>"Texto",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
            </div><!-- /.form-group -->
          </div>
          <div class="col-md-3">
            <img src="<?php echo PUBLIC_PATH.'img/iconob.png' ?>" height="100" style="background-color:#223556;">
            <div class="form-group" style="margin-top: 5px;">
              <?php echo Form::text('amenities.titulob_en', array(
                'placeholder'=>"Titulo",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <br>
              <?php echo Form::textarea('amenities.textob_en', array(
                'placeholder'=>"Texto",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
            </div><!-- /.form-group -->
          </div>
          <div class="col-md-3">
            <img src="<?php echo PUBLIC_PATH.'img/iconoc.png' ?>" height="100" style="background-color:#223556;">
            <div class="form-group" style="margin-top: 5px;">
              <?php echo Form::text('amenities.tituloc_en', array(
                'placeholder'=>"Titulo",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <br>
              <?php echo Form::textarea('amenities.textoc_en', array(
                'placeholder'=>"Texto",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
            </div><!-- /.form-group -->
          </div>
          <div class="col-md-3">
            <img src="<?php echo PUBLIC_PATH.'img/iconod.png' ?>" height="100" style="background-color:#223556;">
            <div class="form-group" style="margin-top: 5px;">
              <?php echo Form::text('amenities.titulod_en', array(
                'placeholder'=>"Titulo",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
              <br>
              <?php echo Form::textarea('amenities.textod_en', array(
                'placeholder'=>"Texto",
                'required'=>'true',
                'class'=>"form-control"
              )) ?>
            </div><!-- /.form-group -->
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right">Guardar</button>
    </div>
  </div><!-- /.box -->
</form>


</section><!-- /.content -->
