<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Datos Generales
    <small><?php View::content() ?></small>
  </h1>
</section>
<!-- Main content -->
<section class="content">

  <!-- SELECT2 EXAMPLE -->
<form action="" method="post">
  <?php echo Form::hidden('generales.id') ?>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Información de Contacto</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Correo</label>
            <?php echo Form::text('generales.correo', array(
              'placeholder'=>"Ingrese su correo",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label>Telefono</label>
            <input type="text"
            class="form-control"
            placeholder="Ingrese su Telefono"
            required
            value="<?php echo $generales->telefono ?>"
            name="generales[telefono]"
            data-inputmask='"mask": "(999) 999-9999"'
            data-mask>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label>Dirección</label>
            <?php echo Form::textarea('generales.direccion', array(
              'placeholder'=>"Ingrese su dirección",
              'required'=>'true',
              'rows'=>'5',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
        </div><!-- /.col -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Celular</label>
            <input type="text"
            class="form-control"
            placeholder="Ingrese su celular"
            required
            value="<?php echo $generales->celular ?>"
            name="generales[celular]"
            data-inputmask='"mask": "(999) 999-9999"'
            data-mask>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label>Segundo Celular</label>
            <input type="text"
            class="form-control"
            placeholder="Ingrese su celular"
            required
            value="<?php echo $generales->celular2 ?>"
            name="generales[celular2]"
            data-inputmask='"mask": "(999) 999-9999"'
            data-mask>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label>Facebook</label>
            <?php echo Form::text('generales.facebook', array(
              'placeholder'=>"Ingrese facebook",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
          <div class="form-group">
            <label>Instagram</label>
            <?php echo Form::text('generales.instagram', array(
              'placeholder'=>"Ingrese Instagram",
              'required'=>'true',
              'class'=>"form-control"
            )) ?>
          </div><!-- /.form-group -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right">Guardar</button>
    </div>
  </div><!-- /.box -->
</form>


</section><!-- /.content -->
