<section class="content-header">
  <h1>
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Sliders</h3>
          <a class="btn btn-primary pull-right" href="<?php echo PUBLIC_PATH.'admin/sliders/agregar/' ?>">Agregar</a>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nro</th>
                <th>Imagen</th>
                <th>Titulo</th>
                <th>Texto</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($sliders as $key => $value): ?>
                <tr>
                  <td><?php echo $value->id ?></td>
                  <td>
                    <img heing="100" width="100" src="<?php echo PUBLIC_PATH.'img/'.$value->imagen ?>" alt=""></td>
                  <td><?php echo $value->titulo ?></td>
                  <td><?php echo $value->texto ?></td>
                  <td>
                    <a href="<?php echo PUBLIC_PATH.'admin/editar_slider/'.$value->id.'/' ?>">Editar</a>
                  </td>
                  <td>
                    <a href="<?php echo PUBLIC_PATH.'admin/eliminar_slider/'.$value->id.'/' ?>">Eliminar</a>
                  </td>
                  </tr>
              <?php endforeach; ?>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Nro</th>
                    <th>Imagen</th>
                    <th>Titulo</th>
                    <th>Texto</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                </tfoot>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
    </div>
  </div>
</section>
