<div class="page-content">
  <div class="main-slider style-two default-banner">
    <div class="tp-banner-container">
      <div class="tp-banner" >
        <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect" data-source="gallery">
          <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
            <ul>
              <?php foreach ($sliders as $key => $value): ?>
                <li data-index="rs-<?php echo $value->id ?>00" data-transition="slidingoverlayhorizontal"
                data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default"
                data-easeout="default" data-masterspeed="default"
                data-thumb="<?php echo PUBLIC_PATH.'img/'.$value->imagen ?>"
                data-rotate="0" data-saveperformance="off"
                data-title="WAREHOUSE" data-param1="" data-param2="" data-param3=""
                data-param4="" data-param5="" data-param6="" data-param7=""
                data-param8="" data-param9="" data-param10="" data-description="">
                  <img src="<?php echo PUBLIC_PATH.'img/'.$value->imagen ?>" alt=""
                  data-bgposition="center center" data-bgfit="cover"
                  data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina/>

                  <div class="tp-caption tp-shape tp-shapewrapper "
                  id="slide-100-layer-1"
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                  data-width="full"
                  data-height="full"
                  data-whitespace="nowrap"
                  data-type="shape"
                  data-basealign="slide"
                  data-responsive_offset="off"
                  data-responsive="off"
                  data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"

                  style="z-index: 12;background-color:rgba(0, 0, 0, 0.1);
                  border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
                  <!-- LAYER NR. 2 [ for title ] -->
                  <div class="tp-caption  tp-resizeme"
                  id="slide-100-layer-2"
                  data-x="['left','left','left','left']"
                  data-hoffset="['30','30','30','30']"
                  data-y="['top','top','top','top']"
                  data-voffset="['260','260','260','260']"
                  data-fontsize="['70','70','70','70']"
                  data-lineheight="['70','70','70','70']"
                  data-width="['700','700','700','700']"
                  data-height="['none','none','none','none']"
                  data-whitespace="['normal','normal','normal','normal']"

                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:50px(R);opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"

                  style="z-index: 13;
                  white-space: normal;
                  font-size: 60px;
                  line-height: 60px;
                  font-weight: 700;
                  color: rgba(255, 255, 255, 1.00);
                  border-width:0px;">
                  <span class="text-uppercase" style="font-family: Oswald;"><?php echo $value->titulo ?></span>
                  </div>
                  <!-- LAYER NR. 3 [ for paragraph] -->
                  <div class="tp-caption tp-resizeme"
                  id="slide-100-layer-3"
                  data-x="['left','left','left','left']"
                  data-hoffset="['30','30','30','30']"
                  data-y="['top','top','top','top']"
                  data-voffset="['350','350','350','350']"
                  data-fontsize="['20','20','20','35']"
                  data-lineheight="['30','30','30','40']"
                  data-width="['800','800','800','1000']"
                  data-height="['none','none','none','none']"
                  data-whitespace="['normal','normal','normal','normal']"

                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[
                  {"from":"y:50px(R);opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
                  {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                  ]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"

                  style="z-index: 13;
                  font-weight: 500;
                  color: rgba(255, 255, 255, 0.85);
                  border-width:0px;"> <span><?php echo $value->texto ?></span> </div>
                  <!-- LAYER NR. 4 [ for readmore botton ] -->
                  <div class="tp-caption tp-resizeme"
                  id="slide-100-layer-4"
                  data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
                  data-y="['top','top','top','top']" data-voffset="['370','370','370','460']"
                  data-fontsize="['none','none','none','none']"
                  data-lineheight="['none','none','none','none']"
                  data-width="['700','700','700','700']"
                  data-height="['none','none','none','none']"
                  data-whitespace="['normal','normal','normal','normal']"

                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[
                  {"from":"y:50px(R);opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
                  {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                  ]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 13;">
                </div>
                </li>
              <?php endforeach; ?>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="proyecto" class="section-full p-t40" style="background:#fff">
    <div class="container">
      <div class="section-head text-center">
        <span class="title-small"><p style="background-color: #003764;padding:10px;text-transform: uppercase;color:#fff;max-width: 200px;letter-spacing:2px">El proyecto</p></span>
        <h2 class="text-uppercase"> <?php echo $project->titulo ?> </h2>

      </div>
    </div>
  </div>
  <div class="section-full" style="padding:0;margin:0;background:#fff">
    <div class="section-content">

      <div class="row">
        <div class="col-md-6" style="padding:50px;padding-top:0;padding-bottom:20px">
          <h2 class="text-uppercase" style="color:#003764"> descripción  </h2>
          <div class="dez-separator-outer ">
            <div class="dez-separator bg-secondry style-skew"></div>
          </div>
          <div class="clear"></div>
          <?php echo $project->descripcion ?>
        </div>
        <div class="col-md-6">
          <div class="dez-thu m"><img src="<?php echo PUBLIC_PATH.'img/'.$project->imagen ?>" alt="" width="100%"></div>
        </div>
      </div>

    </div>
  </div>
  <div id="amenidades" class="section-full p-t40" style="background:#FCCE01">
    <div class="container">
      <div class="section-head text-center">
        <span class="title-small">
          <p style="background-color: #003764;
            padding:10px;text-transform: uppercase;color:#fff;
            max-width: 200px;letter-spacing:2px">Amenidades</p></span>
        <h2 class="text-uppercase"><?php echo $amenities->titulo ?> </h2>

      </div>
    </div>
  </div>
  <div class="section-full text-white bg-img-fix p-t70 p-b70 overlay-black-middle" style="background-image:url(img/parallax.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-3 p-b20 p-t20">
          <div class="p-a30 text-white text-center border-3">
            <div class="icon-xl"><img src="img/iconoa.png" alt=""></div>
            <div class="font-26 font-weight-800 text-primary m-b5"><?php echo $amenities->tituloa ?></div>
            <span><?php echo $amenities->textoa ?></span>
          </div>
        </div>
        <div class="col-md-3 p-b20 p-t20">
          <div class="p-a30 text-white text-center border-3">
            <div class="icon-xl"><img src="img/iconob.png" alt=""></div>
            <div class="font-26 font-weight-800 text-primary m-b5"><?php echo $amenities->titulob ?></div>
            <span><?php echo $amenities->textob ?></span>
          </div>
        </div>
        <div class="col-md-3 p-b20 p-t20">
          <div class="p-a30 text-white text-center border-3">
            <div class="icon-xl"><img src="img/iconoc.png" alt=""></div>
            <div class="font-26 font-weight-800 text-primary m-b5"><?php echo $amenities->tituloc ?></div>
            <span><?php echo $amenities->textoc ?></span>
          </div>
        </div>
        <div class="col-md-3 p-b20 p-t20">
          <div class="p-a30 text-white text-center border-3">
            <div class="icon-xl"><img src="img/iconod.png" alt=""></div>
            <div class="font-26 font-weight-800 text-primary m-b5"><?php echo $amenities->titulod ?></div>
            <span><?php echo $amenities->textod ?></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="galeria" class="content-area">
    <div class="container">
      <div class="site-filters clearfix center  m-b40">
        <ul class="filters" data-toggle="buttons">
          <li data-filter="" class="btn active">
            <input type="radio">
            <a href="#" class="site-button-secondry button-skew active"><span>Galeria</span></a>
          </li>
          <li data-filter="Galeras" class="btn">
            <input type="radio" >
            <a href="#" class="site-button-secondry button-skew"><span>Galeras</span></a>
          </li>
          <li data-filter="Ofibodegas" class="btn">
            <input type="radio">
            <a href="#" class="site-button-secondry button-skew"><span>Ofibodegas</span></a>
          </li>
          <li data-filter="Fachada" class="btn">
            <input type="radio">
            <a href="#" class="site-button-secondry button-skew"><span>Fachada</span></a>
          </li>
          <li data-filter="Avance de Obras" class="btn">
            <input type="radio">
            <a href="#" class="site-button-secondry button-skew"><span>Avance de obras</span></a>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul id="masonry" class="dez-gallery-listing mfp-gallery">
          <?php foreach ($all_imgs as $key => $value): ?>
            <li data-filter="<?php echo $value->categoria ?>" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="dez-box dez-gallery-box">
                <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow">
                  <a href="javascript:void(0);">
                    <img src="<?php echo PUBLIC_PATH.'img/'.$value->imagen ?>" title="Galeras PB"  alt=""></a>
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a href="<?php echo PUBLIC_PATH.'img/'.$value->imagen ?>" title="Galeras PB" class="mfp-link">
                        <i class="fa fa-picture-o icon-bx-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <?php endforeach; ?>
          <!-- <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow dez-img-effect zoom">
                <a href="javascript:void(0);"> <img src="img/galeria/001 Ofibodegas pb.jpg" title="Ofibodegas PB" alt=""> </a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/001 Ofibodegas pb.jpg" title="Ofibodegas PB" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                </div>
              </div>
            </div>
          </li>
          <li data-filter="galeras" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/002 Galeras ofi pb.jpg" title="Galeras Oficina PB"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/002 Galeras ofi pb.jpg" title="Galeras Oficina PB" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/002 Ofibodegas ofi pb.jpg" title="Ofibodegas Oficina PB"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/002 Ofibodegas ofi pb.jpg" title="Ofibodegas Oficina PB" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="galeras" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/003 Galeras ofi pa.jpg" title="Galeras Oficina PA"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/003 Galeras ofi pa.jpg" title="Galeras Oficina PA" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/003 Ofibodegas ofi pa.jpg" title="Ofibodegas Oficina PA"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/003 Ofibodegas ofi pa.jpg" title="Ofibodegas Oficina PA" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="galeras" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/004 Galeras Seccion 1.jpg" title="Galeras Seccion 1"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/004 Galeras Seccion 1.jpg" title="Galeras Seccion 1" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="galeras" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/004 Galeras Seccion 2.jpg" title="Galeras Seccion 2"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/004 Galeras Seccion 2.jpg" title="Galeras Seccion 2" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/004 Ofibodegas seccion 1.jpg" title="Ofibodegas Seccion 1"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/004 Ofibodegas seccion 1.jpg" title="Ofibodegas Seccion 1" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/004 Ofibodegas seccion 2.jpg" title="Ofibodegas Seccion 2"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/004 Ofibodegas seccion 2.jpg" title="Ofibodegas Seccion 2" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="fachada" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/fachada/000.jpg" title="Fachada"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/fachada/000.jpg" title="Fachada" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="galeras" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/006 Galeras VistaOfi 1.jpg" title="Galerias Vista Oficina 1"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/006 Galeras VistaOfi 1.jpg" title="Galerias Vista Oficina 1" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="galeras" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/006 Galeras VistaOfi 2.jpg" title="Galerias Vista Oficina 2"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/006 Galeras VistaOfi 2.jpg" title="Galerias Vista Oficina 2" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>
                </div>
              </div>
            </div>
          </li>
          <li data-filter="galeras" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/006 Galeras VistaOfi 3.jpg" title="Galerias Vista Oficina 3"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/006 Galeras VistaOfi 3.jpg" title="Galerias Vista Oficina 3" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/006 Ofibodegas VistaOfi 1.jpg" title="Ofibodegas Vista Oficina 1"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/006 Ofibodegas VistaOfi 1.jpg" title="Ofibodegas Vista Oficina 1" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/006 Ofibodegas VistaOfi 2.jpg" title="Ofibodegas Vista Oficina 2"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/006 Ofibodegas VistaOfi 2.jpg" title="Ofibodegas Vista Oficina 2" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/006 Ofibodegas VistaOfi 3.jpg" title="Ofibodegas Vista Oficina 3"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/006 Ofibodegas VistaOfi 3.jpg" title="Ofibodegas Vista Oficina 3" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="ofibodegas" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/galeria/006 Ofibodegas VistaOfi 4.jpg" title="Ofibodegas Vista Oficina 4"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/galeria/006 Ofibodegas VistaOfi 4.jpg" title="Ofibodegas Vista Oficina 4" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="fachada" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/fachada/001.jpg" title="Fachada"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/fachada/001.jpg" title="Fachada" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="fachada" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/fachada/002.jpg" title="Fachada"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/fachada/002.jpg" title="Fachada" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="fachada" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/fachada/003.jpg" title="Fachada"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/fachada/003.jpg" title="Fachada" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="fachada" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/fachada/004.jpg" title="Fachada"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/fachada/004.jpg" title="Fachada" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="fachada" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/fachada/005.jpg" title="Fachada"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/fachada/005.jpg" title="Fachada" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="fachada" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
              <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/fachada/006.jpg" title="Fachada"  alt=""></a>
                <div class="overlay-bx">
                  <div class="overlay-icon"> <a href="img/fachada/006.jpg" title="Fachada" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

                </div>
              </div>
            </div>
          </li>
          <li data-filter="fachada" class="card-container col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="dez-box dez-gallery-box">
            <div class="dez-thum dez-img-overlay1 dez-img-effect zoom-slow"> <a href="javascript:void(0);"> <img src="img/fachada/007.jpg" title="Fachada"  alt=""></a>
            <div class="overlay-bx">
            <div class="overlay-icon"> <a href="img/fachada/007.jpg" title="Fachada" class="mfp-link"> <i class="fa fa-picture-o icon-bx-xs"></i> </a> </div>

            </div>
            </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="section-full text-white bg-img-fix p-t70 p-b70 overlay-black-middle" style="background-image:url(img/parallax.jpg);">
    <div class="container">
      <div class="row">
        <div class="section-head text-center">
          <h1 class="text-uppercase" style="color:#FCCE01;padding-top:20px">WAREHOUSE LAS AMERICAS</h1>
          <span class="title-small" style="font-size:18px">Es una atractiva inversión, ideal para su proyecto de almacenaje, <br>distribución y desarrollo Industrial.</span>
        </div>
      </div>
    </div>
  </div>
  <!--aqui va parallax-->
  <div id="ubicacion" class="section-full p-t40" style="background:#FCCE01">
    <div class="container">
      <div class="section-head text-center">
        <span class="title-small"><p style="background-color: #003764;padding:10px;text-transform: uppercase;color:#fff;max-width: 200px;letter-spacing:2px">ubicación </p></span>
        <h2 class="text-uppercase"><?php echo $ubicacion->titulo ?>  </h2>
      </div>
    </div>
  </div>
</div>
<a href="#comollegar"><img src="<?php echo PUBLIC_PATH.'img/'.$ubicacion->imagen ?>" alt="" width="100%"></a>
<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121594.34816516156!2d-79.39131240485088!3d9.108399571458529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fab552056cc9509%3A0x6bb9aba772b68c1a!2sOfibodegas+Panam%C3%A1!5e0!3m2!1ses-419!2sve!4v1494555444415" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->

<div id="comollegar" class="section-full p-t40 p-b40" style="background:#fff">
  <div class="container">
    <h2 class="text-uppercase" style="color:#003764"> Como llegar?</h2>
    <div class="dez-separator-outer ">
      <div class="dez-separator bg-secondry style-skew"></div>
    </div>
    <div class="dez-tabs bg-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#juandiaz">Desde Juan Diaz</a></li>
        <li><a data-toggle="tab" href="#tumba">Desde Tumba Muerto</a></li>
        <li><a data-toggle="tab" href="#colon">Desde Colon</a></li>
        <li><a data-toggle="tab" href="#lasamericas">Desde Puente de Las Americas</a></li>

      </ul>
      <div class="tab-content">
        <div id="juandiaz" class="tab-pane active">
          <div class="col-sm-7">
            <p class="m-b10"><strong>Por Carr. Panamericana/Interamericana/Carretera 1</strong><br>
              La ruta más rápida, el tráfico habitual <br>
              <b style="color:#003764;">34 min (22,8 km)</b>
            </p>
            <p class="m-b10"><strong>Por Avenida Domingo Díaz y Carr. Panamericana/Interamericana/Carretera 1</strong><br>
              <b style="color:#003764;">36 min (21,4 km)</b>
            </p>
            <p class="m-b10"><strong>Por Corredor Sur y Carr. Panamericana/Interamericana/Carretera 1</strong><br>
              <b style="color:#003764;">41 min (22,8 km)</b>
            </p>


          </div>
          <div class="col-sm-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d351556.0116718533!2d-79.50232630427034!3d9.001697374601473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x8facaa761b1280db%3A0xd5b50bdfa257639f!2zSnVhbiBEw61heiwgUGFuYW3DoQ!3m2!1d9.0311421!2d-79.4310052!4m3!3m2!1d9.0877762!2d-79.3100967!5e0!3m2!1ses!2s!4v1494615854434" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

        <div id="tumba" class="tab-pane">
          <div class="col-sm-7">
            <p class="m-b10"><strong>Por Corredor Nte. y Carr. Panamericana</strong><br>
              Actualmente es la ruta más rápida porque evita accidentes en Carr. Panamericana <br>Esta ruta incluye algún peaje. <br>
              <b style="color:#003764;">46 min (34,5 km)</b>
            </p>

            <p class="m-b10"><strong>Por Carr. Panamericana/Carretera 1, Corredor Nte. y Carr. Panamericana</strong><br>
              ás tráfico de lo habitual <br>Esta ruta incluye algún peaje. <br>
              <b style="color:#003764;">56 min (33,0 km)</b>
            </p>

          </div>
          <div class="col-sm-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d252157.8997761084!2d-79.55949559518939!3d9.066754050024347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x8faca9d2eae92ce5%3A0x8ff7afbf8b083fda!2sTumba+Muerto%2C+Panam%C3%A1!3m2!1d9.0310905!2d-79.5165592!4m3!3m2!1d9.0877762!2d-79.3100967!5e0!3m2!1ses!2s!4v1494616089684" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>


        <div id="colon" class="tab-pane">
          <div class="col-sm-7">
            <p class="m-b10"><strong>Por Panamá-Colon Expy</strong><br>
              La ruta más rápida, teniendo en cuenta el tráfico <br>Esta ruta incluye algún peaje. <br>
              <b style="color:#003764;">1 h 28 min (93,7 km)</b>
            </p>
          </div>
          <div class="col-sm-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d504129.2128657918!2d-79.88519296892404!3d9.198641784552699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x8fab6d74d93fcb77%3A0x90daf5f3ea39d9e4!2zQ29sw7NuLCBQcm92aW5jaWEgZGUgQ29sw7NuLCBQYW5hbcOh!3m2!1d9.359302!2d-79.8998608!4m3!3m2!1d9.0877762!2d-79.3100967!5e0!3m2!1ses!2s!4v1494616264002" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div id="lasamericas" class="tab-pane">
          <div class="col-sm-7">
            <p class="m-b10"><strong>Por Corredor Sur</strong><br>
              La ruta más rápida, teniendo en cuenta el tráfico <br>Esta ruta incluye algún peaje.<br>
              <b style="color:#003764;">49 min (40,4 km)</b>
            </p>
            <p class="m-b10"><strong>Por Corredor Nte. y Carr. Panamericana</strong><br>
              El tráfico habitual <br>Esta ruta incluye algún peaje. <br>
              <b style="color:#003764;">54 min (44,6 km)</b>
            </p>
            <p class="m-b10"><strong>Por Carr. Panamericana</strong><br>
              Accidentes en Carr. Panamericana, lo que provoca un retraso de 23 minutos <br>Esta ruta incluye algún peaje. <br>
              <b style="color:#003764;">1 h 22 min (44,3 km)</b>
            </p>
          </div>
          <div class="col-sm-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d252186.1044352106!2d-79.57744119649817!3d9.02650531437689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x8faca5f9c80c39b9%3A0xf9c44dd070682837!2sPuente+de+las+Am%C3%A9ricas%2C+Panam%C3%A1!3m2!1d8.9432084!2d-79.56486819999999!4m3!3m2!1d9.0877762!2d-79.3100967!5e0!3m2!1ses!2s!4v1494616514586" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contacto" class="section-full p-t40" style="background:#E6E8EB">
<div class="container">
  <div class="section-head text-center">
    <span class="title-small"><p style="background-color: #003764;padding:10px;text-transform: uppercase;color:#fff;max-width: 200px;letter-spacing:2px">Contacto</p></span>
    <h2 class="text-uppercase">No dudes en contactarnos</h2>

  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>Formulario de Contacto</h4>
      <div class="dzFormMsg"></div>
      <div class="p-a30 bg-white clearfix m-b30">
        <form method="post" class="dzForm" action="">
          <input type="hidden" value="Contacto" name="dzToDo" >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input name="dzName" type="text" required class="form-control " placeholder="Nombre Completo">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input name="dzEmail" type="email" class="form-control" placeholder="Email" required >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <input name="dzTelefonos" type="text" required class="form-control " placeholder="Telefonos">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <select required class="form-control" name="dzIntereses" id="dzIntereses" required>
                    <option value="">Intereses</option>
                    <option value="Ofibodegas">Ofibodegas</option>
                    <option value="Galeras">Galeras</option>
                    <option value="Otros">Otros</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="input-group"> <span class="input-group-addon v-align-t"><i class="fa fa-pencil"></i></span>
                  <textarea name="dzMessage" rows="4" class="form-control" required placeholder="Mensaje" ></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-3">
                <button name="submit" type="submit" value="Submit"
                  class="site-button" style="background:#003764"> <span>Enviar</span> </button>
                </div>
              <div class="col-md-8">
                <?php View::content() ?>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-4">
      <h4>Información de Contacto</h4>
      <div class="p-a30 bg-white m-b30">
        <ul class="contact-info no-margin">
          <li class="icon-bx-wraper left m-b30">
            <div class="icon-bx-xs bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-map-marker"></i></a> </div>
            <div class="icon-content">
              <h6 class="text-uppercase m-b0 dez-tilte">Dirección </h6>
              <p><?php echo $generales->direccion ?></p>
            </div>
          </li>
          <li class="icon-bx-wraper left  m-b30">
            <div class="icon-bx-xs bg-primary">
              <a href="#" class="icon-cell"><i class="fa fa-envelope"></i></a> </div>
            <div class="icon-content">
              <h6 class="text-uppercase m-b0 dez-tilte">Email</h6>
              <p><a href="mail:<?php echo $generales->correo ?>"><?php echo $generales->correo ?></a></p>
            </div>
          </li>
          <li class="icon-bx-wraper left">
            <div class="icon-bx-xs bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-phone"></i></a> </div>
            <div class="icon-content">
              <h6 class="text-uppercase m-b0 dez-tilte">Teléfonos</h6>
              <p><a href="tel:+<?php echo $generales->telefono ?>">+<?php echo $generales->telefono ?></a>
                <br> Cel.: <a href="tel:+<?php echo $generales->celular ?>">+<?php echo $generales->celular ?></a> / <a href="tel:+<?php echo $generales->celular2 ?>">+<?php echo $generales->celular2 ?></a> </p>
            </div>
          </li>
        </ul>
        <img src="<?php echo PUBLIC_PATH ?>img/grupobrava.png" alt="" style="width:60%;margin-top:10px">
        <img src="<?php echo PUBLIC_PATH ?>img/shahani.jpg" alt="" style="width:35%;margin-top:10px">
      </div>
    </div>
  </div>
</div>
</div>
