<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Warehouse</title>
    <link rel="icon" href="<?php echo PUBLIC_PATH ?>img/icono.png" type="image/x-icon" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/plugins/datatables/dataTables.bootstrap.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/plugins/iCheck/all.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/plugins/select2/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="<?php echo PUBLIC_PATH ?>static-admin/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <?php View::partial('admin/header', NULL, array()) ?>
      <?php View::partial('admin/sidebar', NULL, array()) ?>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <?php View::content() ?>
      </div><!-- /.content-wrapper -->
      <?php View::partial('admin/footer', NULL, array()) ?>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/bootstrap/js/bootstrap.min.js"></script>

    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/select2/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="<?php echo PUBLIC_PATH ?>static-admin/js/demo.js"></script>
    <!-- Page script -->
    <script>
    $(function () {
      $.widget.bridge('uibutton', $.ui.button);
      //Initialize Select2 Elements
      $("#example1").DataTable();
      $(".select2").select2();
      $("[data-mask]").inputmask();
    })
    </script>
  </body>
</html>
