<!DOCTYPE html>
<!--[if IE 7 ]>  <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>  <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>  <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="ofibodegas, galeras, plantas, superficie, warehouse, panama, innovador, calidad, paredes, galeras, almacenamiento, capacidad" />
<meta name="author" content="maspublicidad" />
<meta name="robots" content="" />
<meta name="description" content="El conjunto dispone de un total de 27 unidades, 16 Ofibodegas y 11 Galeras de dos plantas dependiendo de las necesidades del cliente en relación a la superficie. Warehouse las Americas cuenta con un diseño innovador, acabados de alta calidad, paredes y techos con aislamiento térmico, cada espacio y su función han sido tomadas en cuenta a la hora de distribuir nuestras ofibodegas y galeras, logrando los espacios más eficientes del mercado. El tamaño de las Ofibodegas y Galeras varia con opciones que van desde 551mts2 y 1912 mts2. La altura de las bodegas oscila entre los 8 y 9 metros para optimizar la capacidad de almacenamiento. " />
<meta name="format-detection" content="telephone=no">

<link rel="icon" href="<?php echo PUBLIC_PATH ?>img/icono.png" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="<?php echo PUBLIC_PATH ?>img/icono.png" />

<title>WareHouse Panamá</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/fontawesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/style.css">
<link class="skin"  rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/skin/skin-1.css">
<link  rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/templete.css">
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>css/switcher.css">
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/css/navigation.css">


<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,800,700italic' rel='stylesheet' type='text/css'>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107042052-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-107042052-1');
</script>
</head>
<body id="bg">
  <div id="home" class="page-wraper">
    <?php View::partial('en/header', NULL, array('generales'=>$generales)) ?>
    <?php View::content() ?>
    <?php View::partial('en/footer', NULL, array()) ?>
  </div>
  <!-- JavaScript  files ========================================= -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/jquery.min.js"></script>
  <!-- jquery.min js -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/bootstrap.min.js"></script>
  <!-- bootstrap.min js -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/bootstrap-select.min.js"></script>
  <!-- Form js -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/jquery.bootstrap-touchspin.js"></script>
  <!-- Form js -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/magnific-popup.js"></script>
  <!-- magnific-popup js -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/waypoints-min.js"></script>
  <!-- waypoints js -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/counterup.min.js"></script>
  <!-- counterup js -->
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>javascript/imagesloaded.js"></script>
  <!-- masonry  -->
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>javascript/masonry-3.1.4.js"></script>
  <!-- masonry  -->
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>javascript/masonry.filter.js"></script>
  <!-- masonry  -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/owl.carousel.js"></script>
  <!-- OWL  Slider  -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/custom.js"></script>
  <!-- custom fuctions  -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/dz.carousel.js"></script>
  <!-- sortcode fuctions  -->
  <script type="text/javascript"  src="<?php echo PUBLIC_PATH ?>javascript/switcher.min.js"></script>
  <!-- switcher fuctions  -->
  <!-- revolution JS FILES -->
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="<?php echo PUBLIC_PATH ?>plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script type="text/javascript">
      var tpj=jQuery;
      var revapi1014;
      tpj(document).ready(function() {
          'use strict';
          if(tpj("#rev_slider_1014_1").revolution == undefined){
              revslider_showDoubleJqueryError("#rev_slider_1014_1");
          }else{
              revapi1014 = tpj("#rev_slider_1014_1").show().revolution({
                  sliderType:"standard",
                  jsFileLocation:"//server.local/revslider/wp-content/plugins/revslider/public/assets/js/",
                  dottedOverlay:"none",
                  delay:9000,
                  startwidth:1200,
                  startheight:750,
                  hideThumbs:600,
                  navigation: {
                      keyboardNavigation:"off",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation:"off",
                      mouseScrollReverse:"default",
                      onHoverStop:"off",
                      touch:{
                          touchenabled:"on",
                          swipe_threshold: 75,
                          swipe_min_touches: 1,
                          swipe_direction: "horizontal",
                          drag_block_vertical: false
                      }
                      ,
                      arrows: {
                              style: "hermes",
                              enable: true,
                              hide_onmobile: false,
                              hide_onleave: false,
                              tmp: '<div class="tp-arr-allwrapper">   <div class="tp-arr-imgholder"></div>    <div class="tp-arr-titleholder">{{title}}</div> </div>',
                              left: {
                                  h_align: "left",
                                  v_align: "center",
                                  h_offset: 0,
                                  v_offset: 0
                              },
                              right: {
                                  h_align: "right",
                                  v_align: "center",
                                  h_offset: 0,
                                  v_offset: 0
                              }
                          }
                  },
                  responsiveLevels:[1240,1024,778,480],
                  visibilityLevels:[1240,1024,778,480],

                  lazyType:"none",
                  shadow:0,
                  spinner:"off",
                  stopLoop:"on",
                  stopAfterLoops:0,
                  stopAtSlide:1,
                  shuffle:"off",
                  autoHeight:"off",
                  fullScreenAutoWidth:"off",
                  fullScreenAlignForce:"off",
                  fullScreenOffsetContainer: "",
                  fullScreenOffset: "60px",
                  disableProgressBar:"on",
                  hideThumbsOnMobile:"off",
                  hideSliderAtLimit:0,
                  hideCaptionAtLimit:0,
                  hideAllCaptionAtLilmit:0,
                  debugMode:false,
                  fallbacks: {
                      simplifyAll:"off",
                      nextSlideOnWindowFocus:"off",
                      disableFocusListener:false,
                  }
              });
          }


      }); /*ready*/
  </script>
  <div class="loading-area" style="display:none;">
      <div class="loading-box"></div>
      <div class="loading-pic"></div>
  </div>
  <!-- Google Code para etiquetas de remarketing -->
  <!--
  Es posible que las etiquetas de remarketing todavía no estén asociadas a la información personal identificable o que estén en páginas relacionadas con las categorías delicadas. Para obtener más información e instrucciones sobre cómo configurar la etiqueta, consulte http://google.com/ads/remarketingsetup.
  --------------------------------------------------->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 845432010;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/845432010/?guid=ON&amp;script=0"/>
  </div>
  </noscript>
</body>
</html>
