<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">NAVEGACIÓN PRINCIPAL</li>
      <li class="active">
        <a href="<?php echo PUBLIC_PATH ?>admin/general/">
          <i class="fa fa-th"></i> <span>General</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/sliders/">
          <i class="fa fa-fw fa-photo"></i> <span>Sliders</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/project/">
          <i class="fa fa-fw fa-line-chart"></i> <span>Seccion de proyecto</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/amenities/">
          <i class="fa fa-fw fa-puzzle-piece"></i> <span>Amenidades</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/galeria/">
          <i class="fa fa-fw fa-image"></i> <span>Galeria</span>
        </a>
      </li>
      <li>
        <a href="<?php echo PUBLIC_PATH ?>admin/ubicacion/">
          <i class="fa fa-fw fa-location-arrow"></i> <span>Ubicación</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
