<footer class="site-footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center"> <span>© WAREHOUSE LAS AMERICAS 2017 All right reserved. Designed and Developed by <a href="http://maspublicidad.net/">maspublicidad</a></span><br><small>Las imágenes son una representación gráfica que pueden ser cambiadas sin previo aviso del promotor*</small> </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->
<!-- scroll top button -->
<button class="scroltop fa fa-caret-up" ></button>
