<header class="site-header header-style-1 one-page-layout ">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="dez-topbar-left"> </div>
                <div class="dez-topbar-right">
                    <ul class="social-bx list-inline pull-right">
                        <li><a href="<?php echo $generales->facebook ?>" class="fa fa-facebook"></a></li>
                        <li><a href="<?php echo $generales->instagram ?>" class="fa fa-instagram"></a></li>
                        <li><a href="<?php echo PUBLIC_PATH ?>en/">English</a></li>
                        <li>| <a href="<?php echo PUBLIC_PATH ?>" style="color:#999">Español</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-header header-curve main-bar-wraper">
        <div class="main-bar bg-primary clearfix ">
            <div class="container clearfix">
                <div class="logo-header mostion"><a href="#home">
                  <img src="<?php echo PUBLIC_PATH ?>img/logo.png" width="193" height="89" alt=""></a>
                </div>
                <button data-target=".header-nav" data-toggle="collapse" type="button"
                class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

                <div class="" id="mySidenav">
                    <div id="myNavbar" class="navbar header-nav navbar-collapse collapse" style="margin:0;padding:0">
                        <ul class=" nav navbar-nav">
                            <li><a href="#home">Inicio</a></li>
                            <li><a href="#proyecto">El proyecto</a></li>
                            <li><a href="#amenidades">Amenidades</a></li>
                            <li><a href="#galeria">Galeria</a></li>
                            <li><a href="#ubicacion">Ubicación</a></li>
                            <li><a href="#contacto">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
